@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat:wght@100&family=Orelega+One&family=Sunflower&display=swap');

html { 
  background: url("/public/pics/board3.jpeg") fixed center no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Caveat', cursive;
  color: white;
}

.upperPart{
  justify-items: center;
  display: flex;
  align-items: center;
  margin: auto;
  width: 95%; 
  padding-bottom: 20px;
}

.lettersBoard {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 95%; 
}


.graphBoard {
  width: 30%;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.img {
  border: 4px solid black;
  width: 100%;
  height: 100%;
}

.guessBoard {
  font-size: 60px;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 60%;
  padding: 10px;
  width: 70%;
}

.guessLines {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: 'Caveat', cursive;
}

.lettersButtons {
  font-family: 'Caveat', cursive;
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.rightLetter {
  color: green;
}

.wrongLetter {
  color: gray;
}

.notChosenYet {
  color: black;
}