@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat:wght@100&family=Orelega+One&family=Sunflower&display=swap');

html { 
  background: url("../public/pics/board3.jpeg") fixed center no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Caveat', cursive;
  color: white;
}

.upperPart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 450px) { 
  .upperPart {
    margin: auto;
    margin-top: 30px;
    width: 90%; 
  }
}

@media screen and (min-width: 451px) { 
  .upperPart {
    margin-top: 20px;
  }
}

.graphBoard {
  height: 50%;
}

@media screen and (min-width: 451px) {
  .graphBoard {
      width: 40%;
    }
  }
  
@media screen and (max-width: 450px) {
  .graphBoard {
      width: 50%;
  }
}

.img {
  border: 4px solid black;
  border-radius: 5px;
  width: 90%;
}


.subjectBoard {
  flex-wrap: wrap;
}

@media screen and (min-width: 451px) {
  .subjectBoard {
     font-size: 90px; 
  }
}

@media screen and (max-width: 450px) {
  .subjectBoard {
    font-size: 30px; 
    width: 30%;
  }
}  

.guessLines {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: 'Caveat', cursive;
  justify-content: center;
}

@media screen and (min-width: 451px) {
  .guessLines {
    font-size: 80px;
    margin: -90px;
  }
}

@media screen and (max-width: 450px) {
  .guessLines {
    font-size: 50px;

  }
}
  
.lettersBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 450px) {
  .lettersBoard {
    margin-bottom: 10px;
    width: 80%; 
  }
}

.rightLetter {
  color: green;
}

.wrongLetter {
  color: gray;
}

.notChosenYet {
  color: black;
}

.lettersButtons {
  font-family: 'Caveat', cursive;
  font-weight: bolder;
  border-radius: 5px;
}

@media screen and (max-width: 450px) {
  .lettersButtons {
    font-size: 28px;
    padding: 5px;
    margin: 1px;
  }
}

@media screen and (min-width: 451px) {
  .lettersButtons {
    font-size: 32px;
    padding: 10px;
    margin: 5px;
  }
}

.lettersButtons:active {
  transform: scale(1.5);
  box-shadow: 1px 1px rgb(73, 72, 72);
}


