@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat:wght@100&family=Orelega+One&family=Sunflower&display=swap');

html { 
  background: url("../public/pics/board3.jpeg") fixed center no-repeat ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Caveat', cursive;
  color: white;
}

@media screen and (max-width: 450px) {
.upperPart{
  justify-items: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 20px;
  width: 90%; 
  height: 480px;
}
}

@media screen and (min-width: 451px) {
.upperPart{
  justify-items: center;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  width: 95%; 
  padding-bottom: 20px;
}
}

  .graphBoard {
    width: 40%;
    height: 60%;
    justify-content: center;
    align-items: center;
  }


.img {
  border: 4px solid black;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 450px) {
  .img {
  border: 4px solid black;
  width: 100%;
  height: 75%;
  margin-top: 100%;
  }
}

@media screen and (max-width: 450px) {
  .guessBoard {
    font-size: 45px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 5px;
    width: 30%;
  }
}

@media screen and (min-width: 451px) {
  .guessBoard {
    font-size: 65px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 60%;
    padding: 10px;
    width: 60%;
  }
}


.guessLines {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-family: 'Caveat', cursive;
}


@media screen and (max-width: 450px) {
  .lettersBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%; 
  }
}

@media screen and (min-width: 451px) {
    .lettersBoard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      width: 60%; 
    }
  }


.rightLetter {
  color: green;
}

.wrongLetter {
  color: gray;
}

.notChosenYet {
  color: black;
}

@media screen and (max-width: 450px) {
  .lettersButtons {
    font-family: 'Caveat', cursive;
    font-size: 28px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 451px) {
  .lettersButtons {
    font-family: 'Caveat', cursive;
    font-size: 32px;
    font-weight: bolder;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
  }
}

.lettersButtons:active {
  transform: scale(1.5);
  box-shadow: 1px 1px rgb(73, 72, 72);
}


