.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
  font-family: 'Caveat', cursive;
}

.modalContent {
  justify-content: center;
  align-items: center;
  background-color: #252626;
  border-radius: 5px;
}


@media screen and (max-width: 450px) {
  .modalContent {
    width: 40%;
    height: 29%;
    padding: 20px;
    font-size: 20px;
   }
}

@media screen and (min-width: 451px) {
  .modalContent {
    width: 30%;
    height: 35%;
    font-size: 30px;
    padding: 10px;
   }
}