.newGameButton {
  /* background-color: #f4511e; */
  background-color: #a46c6c;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 4px;
  text-align: center;
  font-size: 20px;
  margin: 4px 3px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  

}

.newGameButton:hover {
  opacity: 1
}


@media screen and (min-width: 451px) {
  .newGameButton {
   font-weight: 800;
  }
}

